// Place all the styles related to the public/cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cd-image {
	padding: 20px;
	float: left;
}

.cd-edit-text {
	padding: 10px;
	font-size: 20px;
}

.cd-detail-button {
	margin-bottom: 20px;
}

.detail-table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.detail-table tr:hover{
  background-color: #d4f0fd;
}

.detail-table th,.detail-table td{
  text-align: center;
  width: 25%;
  padding: 5px 0;
}

.cd-detail {
	text-align: left;
	float: right;
}

.cd-table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
}

.cd-table tr{
  border-bottom: solid 1px #eee;
  border-top: solid 1px #eee;
}

.cd-table tr:hover{
  background-color: #d4f0fd;
}

.cd-table th,.cd-table td{
  text-align: center;
  padding: 5px 0;
}

.cd-search {
	padding: 10px;
}

.cart-button {
  width: 150px;
  height: 50px;
  text-align: center;
  padding-top: 17px;
  font-size: 15px;
  border-radius: 5px;
    -webkit-border-radius: 5px;/* for Safari and Chrome 対応*/
    -moz-border-radius: 5px;/* for Firefox 対応*/
}

.cd-show-body {
  background: linear-gradient(-45deg, rgba(99,255,255,0.3), rgba(94,255,212,0.3)) fixed, image-url('Back3.png') fixed;
    background-size: cover;
}

.detail-link {
  color: black;
  margin-top: 10px;
}
