// Place all the styles related to the Public/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-body {
	background:  image-url('empty.jpg') fixed;
	background-repeat: repeat-y;
    background-size: cover;
    color: #fff;
}

.admin-link{
	float: left;
    margin: 30px;
}
.top-search {
	margin-right: 10px;
	padding-right: 10px;
  margin-bottom: 10px;
}

.top-search-box {
  padding-right: 10px;
  margin-bottom: 10px;
  width: 120px;
}

.top-cd-search-button {
　display: inline-block;
  padding: 0.25em 1em;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
  transition: .4s;
  float: right;
}

