// Place all the styles related to the Public/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-body {
	background:  image-url('empty.jpg') fixed;
	background-repeat: repeat-y;
    background-size: cover;
    color: #fff;
}

.admin-link{
	float: left;
    margin: 30px;
}