<div class="container"> <!-- ここを追加 -->
    <div class="row">   <!-- ここを追加 -->
          <div class="col-lg-1">
          </div>
              <div class="col-lg-11">
                  <h2 class="form-header-title">User info</h2>
                      <%= form_for @shop, url: admin_shop_path do |f| %>
                          <div style="display:inline-flex"><b>Name</b>
                               <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
                                     </div>
                                         <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
                                             <p><b>Image</b></p>
                                                <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
                                                    
                                                         <br>
                                                         <label class="control-label sr-only" for="inputEmail">Name</label>
                                                         <br>
                               
                                                             <div style="display:inline-flex">
                                                             <br>

                                                                 <b>Introduction</b>
                                                                     <%= f.text_area :body, autofocus: true, class:"form-control body", id:"inputBody", placeholder:"body"%>
                                                             </div>
                                                              <br>


                            <br>
                            <%= f.submit 'Update User',class: 'btn btn-default col-lg-2' %>
                            <% end %>
      </div>

  </div>
</div>
