<div class="modal-dialog">
  <div class="modal-content">
   <h2>アーティスト名登録</h2>
   <%= form_for(@artist, url: new_admin_artist_path, remote: true) do |f| %>
   <%= f.text_field :name, class:"artist_name col-xs-12" %>
   <%= f.submit "新規登録", class:"create_artist_#{@artist.id} btn btn-primary col-xs-12" %>
   <% end %>
  </div>
</div>