// Place all the styles related to the admin/musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.music-title {
	text-align: center;
}

.music-registration {
	text-align: center;
}

.music-label {
	text-align: left;
}

.ul {
	text-align: center;
	list-style: none;
}