
 <table border="1" align="left">

<% @reviews.each do |review| %>


 		<tr>
 		<td><%= attachment_image_tag @review, :image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
 		<td><%= review.text %></td>
 		<td>
 			<p>
 			<%= link_to "edit", edit_public_review_path(review.id) %></p>
　　　　　　　<p><%= link_to "destroy", root_path(review.id), method: :delete, data: {confirm:'Are you sure?？'} %>

 			</p>
 		</td>
 	 </tr>
 	 <% end %>
</table>
