<div class="music-body">
<%= link_to 'CD一覧へ', admin_cds_path %>
<h4 class="music-title">曲追加</h4>
<div class="music-registration">
    <form action="" class="form">
        <label>収録CD名</label>
                <%= select :music, :cd_id, @cds.map{|cd| [cd.cd_name, cd.id]}, class:"select-cd" %>
        <label> Disk番号 </label>
        <input type="text" class="disk_number music-label">
        <label> 順番 </label>
        <input type="text" class="track music-label">
        <label> 曲名 </label>
        <input type="text" class="name music-label">
        <input type="submit" value="追加" class="btn-sm btn-primary">
    </form>
</div>
<div class="message-box">
    <ul class="messages">
    </ul>
    <p class="err"></p>
</div>
<div class="music-registration">
     <input type="submit" id="total_submit" class="btn-sm btn-success" >
</div>
     <!-- ここでaxiosをcdnで入れてます -->
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // 要素取得
        let musics = []
        const newItemCd_id = document.querySelector("#music_cd_id")
        const newItemDisk_number = document.querySelector(".disk_number")
        const newItemTrack = document.querySelector(".track")
        const newItem = document.querySelector(".name")
        const form = document.querySelector(".form")
        const err = document.querySelector(".err")
        const messages = document.querySelector(".messages")


        const addItem = () => {
            form.addEventListener("submit", e => {
                e.preventDefault()
                if (newItem.value === "") {
                    err.textContent = "文字を入力してね"
                    return
                } else {
                    // 追加したアイテムの表示
                    // JavaScript DOM操作
                    err.textContent = ""
                    const li = document.createElement("li")
                    const li1 = document.createElement("span")
                    const li2 = document.createElement("span")
                    const li3 = document.createElement("span")
                    const span = document.createElement("button")
                    li.appendChild(li1)
                    li.appendChild(li2)
                    li.appendChild(li3)
                    li1.textContent = newItemDisk_number.value
                    li2.textContent = newItemTrack.value
                    li3.textContent = newItem.value

                    let music = {
                        music: {
                            cd_id: newItemCd_id.value,
                            disk_number: newItemDisk_number.value,
                            track: newItemTrack.value,
                            name: newItem.value
                        }
                    }
                    musics.push(music)
                    messages.appendChild(li)
                    newItemDisk_number.value = ""
                    newItemTrack.value = ""
                    newItem.value = ""
                }
            })
        }

        let total_submit = document.getElementById("total_submit")
        total_submit.addEventListener("click", () => {

            //ここでその曲の数だけaxiosでpostを叩く

            axios.defaults.headers['X-CSRF-TOKEN'] = $('meta[name=csrf-token]').attr('content')
            axios.post(`/admin/musics/`, {"musics": musics}).then((json)=> {
                console.log(json)
                location.href="/public/cds/" + json["data"]["cd_id"]
            })

        })
        addItem();
    </script>
<style>
    span{
        margin-right: 50px;
    }
</style>

<!-- これはcd_idをselectさせていないですが,できるはずですので頑張ってください！ -->

