/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 	@import "bootstrap-sprockets";
    @import "bootstrap";

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

.top {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
    background-color:rgba(0,153,255,0.9);
}


header {
    color: white;
}

nav.header-item {
    margin-bottom: 0;
    width: 10px;

}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul {
    display: inline-block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}

ul {
    list-style: none;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 30px;
    float: right;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    float: left;

}

.header-link, .header-list {
	text-decoration: none;
	color: #fff;
  margin: 10px;
}

.header-page{
  float: right;
}


.timeline {
  float: left;
  width: 1000px;
}

.sidebar {
  width: 230px;
  float: right;
}
.sidebar-headline, .instagram-headline, .categories-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.sidebar-contents {
  padding: 50px 0;
}
.popular-text, .categories-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 5px;
}
.popular-text:last-child, .categories-text:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.instagram-box {
  float: left;
  width: 110px;
  padding-top: 110px;
  background-size: cover;
  background-position: center;
}


.wrapper{
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color:rgba(0,153,255,0.9);
  position: absolute;
  margin-bottom: 0;
}
.footer-text {
  color: #fff;
}


